<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 嘯狼月餅 | 首頁 | 月餅專賣
        link(rel="stylesheet", href="style.css")
    body
        header(id="nav")
            div(id="logo") Howling Mooncake
                br
                span(id="logo-zh") 嘯狼月餅專賣
            nav
                +nav-a("home", "關於我們", "ABOUT")
                +nav-a("location", "全球據點", "LOCATIONS")
                +nav-a("hot", "熱門經典", "CLASSICAL")
                +nav-a("contact", "加盟專區", "FRANCHISEE")
        
        section(id="banner")

        section(id="about")
            div(class="bg bg-about")
            div(class="container")
                +title("home", "關於我們", "ABOUT")


        section(id="location")
            div(class="bg bg-location")
            div(class="container")
                +title("location", "全球據點", "LOCATIONS")
                
                div(id="location-container")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
                    +loaction-box("台灣", "Taiwan", "location_taipei")
        
        div(class="container")
            +title("hot", "熱門經典", "CLASSICAL")

        div(class="container")
            +title("contact", "加盟專區", "FRANCHISEE")