mixin nav-t(img, textzh, texten)
    a(href="#")
        img(src="Image/" + img + ".png" alt="縮圖連結")
        span=textzh
        br
        span=texten

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 嘯狼月餅
        link(rel="stylesheet", href="style.css")
    body
        header(id="Logo")
            div Howling Mooncake
                br
                span 嘯狼月餅
            nav
                +nav-t("home","關於我們","ABOUT")
                +nav-t("location","全球據點","LOCATIONS")
                +nav-t("hot","熱門經典","CLASSICAL")
                +nav-t("contact","聯絡我們","CONTACT")
            div(id="link")
        section(id="banner")
